.main-con{
	.main-img{
		img{width: 100%;}
	}
	.bimai-nav{
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
		height:50px;
		line-height:50px;
		background-color: rgb(255, 231, 227);
		font-size:16px;
		.active{ border-bottom:2px solid #000;}
	}
	.bimai-con{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		background-color: rgb(255, 231, 227);
		padding-left:2%;
		padding-right:2%;
		li{
			width: 32%; 
			margin-bottom:3px;
			//border:1px solid red;
			background:#fff;
			.bimai-img{
				position: relative;
				img{
					width:100%;
				}
				.bimai-you{
					position: absolute;
					left: 0;
					bottom: 0;
					background: #FF005A;
					padding: 3px 8px;
					border-radius:0px 15px 15px 0px;
					color: #fff;
				}
			}
			
			a{
				color: #000000;
			}
			.bimai-money {
                .bimai-xian{
                    margin-right: 0.13333rem;
                    font-weight: bold;
                    font-family: AvantGardeITC-Demi;
                    font-size: 0.4rem;
                    line-height: 0.53333rem;
                    color: #fc487b;
                }
                .bimai-yuan{
                    font-family: PingFangSC-Regular;
                    font-size: 0.29333rem;
                    line-height: 0.53333rem;
                    color: #919090;
                    text-decoration: line-through;
                }
			}
			.bimai-go{
				width: 90%;
				margin: 0 auto;
				background-color: #ff6692; 
				font-size: 15px;
				color: #fff;
				text-align: center;
				padding: 5px 0;
			}
		}
	}
	.hufu{
		width:100%;
	}
}