.tupian{
    width: 100%;
    .swiper-container1{
        width: 100%;
        overflow: hidden;
    }
    .swiper-slide{
        width: 2.66667rem;
        height: 2.93333rem;
        img{
            display: block;
            width: 2.66667rem;
            height: 2.93333rem;
        }
    }
}